@mixin flex($direction: column, $content: center, $align: center, $gap: 30px, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
  gap: $gap;
  flex-wrap: $wrap;
}

*, *:is(::after, ::before) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 1rem "Veranda", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  @include flex();
  background-color: #eaeef0;

  .loader {
    @include flex();
    isolation: isolate;
    position: relative;

    .rocket, .rocket-shadow {
      overflow: hidden;
      position: absolute;
      width: 50px;
      rotate: -90deg;
      z-index: 2;
      animation: up, down;
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;

      @keyframes up {
        0% { translate: 0 10px; }
        50% { translate: 0 -10px; }
      }

      @keyframes down {
        50% { translate: 0 -10px; }
        100% { translate: 0 10px; }
      }

      svg { path { fill: #ff518c; } }
    }

    .rocket-shadow {
      width: 60px;
      filter: blur(5px);
      z-index: 1;

      svg {
        position: relative;
        top: 4px;
        left: -4px;

        path { fill: #000000c0; }
      }
    }

    // TODO: make the clouds wokr
    .clouds {
      position: absolute;
      z-index: 0;
      width: 40px;
      filter: blur(1px);

      svg { path { fill: #fff; } }
    }

    span {
      overflow: hidden;
      position: relative;
      width: 250px;
      height: 250px;
      background-color: #eaeef0;
      border-radius: 50%;
      border: 6px solid #eaeef0;
      box-shadow:
        -8px -8px 15px #fff,
        8px 8px 25px #00000026;

      &::after, &::before {
        content: '';
        position: absolute;
        border-radius: 50%;
      }

      &::before {
        inset: 0;
        box-shadow:
          inset 10px 10px 20px #00000080,
          inset -5px -5px 15px #fff;
      }

      &::after {
        inset: 40px;
        background-color: #eaeef0;
        border: 6px solid #eaeef0;
        box-shadow:
          -8px -8px 25px #fff,
          8px 8px 25px #00000040,
          inset 3px 3px 10px #00000026,
          inset -1px -1px 15px #fff;
      }

      .spinning-colors {
        position: absolute;
        inset: 0;
        filter: blur(5px);
        border-radius: 50%;
        background-image: linear-gradient(#42abff, #ff4f8b, #ffeb3b);
        animation: rotate 2s linear infinite;

        @keyframes rotate {
          from { rotate: 0deg; }
          to { rotate: 360deg; }
        }
      }
    }
  }
}
